body {
    background-color: #faf3e0; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
    font-family: 'Arial Black', sans-serif;
    background-color: #333;
    color: white;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}
nav ul li {
    margin: 0 10px;
}
nav ul li a {
    text-decoration: none;
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
}
nav ul li a:hover {
    background-color: #e6e6e6;
}
main {
    padding: 20px;
    border: 1px solid #ccc;
}
#restaurant-img {
    max-height: 400px; 
    width: auto; 
    border: 2px solid #ccc; 
    border-radius: 5px; 
    display: block; 
    margin: 10px auto; 
  }
  #menu {
    text-align: center;
  }
  .menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.menu-item img {
    max-width: 80%;
    max-height: 100px;
    margin-bottom: 10px;
  }
  
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

caption {
    font-weight: bold;
    margin-bottom: 10px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
/* NGOY BITINGINGWA JONATHAN 22/265BIT/C  */