body {
    background-color: #faf3e0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    margin: 0;
    gap: 10px;
}

nav ul li a {
    text-decoration: none;
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    background: white;
}

nav ul li a:hover {
    background-color: #e6e6e6;
}


main {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

#restaurant-img {
    max-width: 100%;
    height: auto;
    max-height: 400px;
    display: block;
    margin: 15px auto;
    border-radius: 6px;
    border: 2px solid #ccc;
}


#menu {
    text-align: center;
    margin-top: 40px;
}

.menu-item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
    margin-bottom: 20px;
}

.menu-item img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 6px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

caption {
    font-weight: bold;
    margin-bottom: 10px;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background-color: #e6e6e6;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#reservation {
    max-width: 600px;
    margin: 40px auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, select, textarea {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
}

input[type="submit"]:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 10px;
    margin-top: 40px;
}
